@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

@import 'dark';
@import 'menu';
@import 'filter';
@import 'bars';
@import 'grid';



* {
	box-sizing: border-box;
}

body {
	font-family: Droid Serif, serif;
	color: #333;
	font-size: 14px;
	transition: background-color 0.4s ease;
}

header {
	border-bottom: 5px solid #EB9532;
	box-shadow: 0 4px 2px -2px #ccc;
}

.page {
	width: 95%;
	max-width: 850px;
	margin: 0 auto;
}




/*****
	LABEL STYLES
	*****/

.label-xs {
	display: block;
	font-size: 10px;
}

.label-s {
	display: block;
	font-size: 14px;
}

.label-m {
	display: block;
	font-size: 17px;
}

.inverse-icon {
	color: white;
}

.icon-double {
	position: relative;
	top: -2px;
	left: -2px;
	text-shadow: 3px 5px 0px #8e7154;
}

.selected {
	background: #4185ea;
	color: #ccc;
}

/*****
	Tooltip in grid view 
	******/
.ach-list {
	position: relative;
}

.ach-grid .achievement {
	position: static;
}

.ach-grid li .tooltip {
	display: none;
	position: absolute;
	z-index: 2;
	width: 300px;
	background-color: rgba(253, 227, 167, 0.90);
	border: 1px solid #333;
	margin: 6px 0 0 0;
	padding: 15px;
	border-radius: 5px;
	text-align: left;
	box-shadow: 0 0 5px rgba(133, 133, 133, 1);
}

.show-tooltip {
	display: block !important;
}

.ach-grid .ach-title {
	margin-top: 0;
	margin-bottom: 8px;
}

/********
	PAGE CONTROLS
	*********/
.page-controls {
	text-align: center;
	padding: 6px 0;
}
#current-page {
	padding-left: 10px;
}
#total-pages {
	padding-right: 10px;
}

/*********
	STATS
	*********/

.info-panel {
	max-width: 600px;
	margin: 0 auto;
	background: #FDE3A7;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
.info-panel h2 {
	margin: 0;
	padding: 0;
}
.warning {
	padding: 10px;
	border-radius: 5px;
	background: rgb(229, 129, 106);
	text-align: center;
}

/********
	ALERTS
	********/

.ach-alerts {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.alert {
	position: relative;
	width: 300px;
	border-radius: 0px 0px 5px 5px;
	background-color: #FDE3A7;
	padding: 10px;
	margin: 5px auto;
	min-height: 74px;
	opacity: 1;
	-webkit-animation: fadeAlert 5s normal forwards;
}

@-webkit-keyframes fadeAlert {
	0% { opacity: 0; }
	5% { opacity: 1; }
	95% { opacity: 1; }
	100% { opacity: 0; }
}

.alert::before {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #894400;
	position: absolute;
	left: 0;
	top: -2px;
	-webkit-animation: indicateFadeOut 5s normal linear forwards;
}

@-webkit-keyframes indicateFadeOut {
	0% { width: 100%; }
	100% { width: 0; }
}

.alert-title {
	margin: 2px 0px 10px 60px;
}

.alert-desc {
	display: block;
	margin-left: 60px;
}

.pull-left {
	float: left;
}

.alert-hide {
	opacity: 0;
	-webkit-animation: none;
}

/******
  SMALL SCREENS
  *******/

.control-label {
	display: none;
}
.view-controls {
	display: block;
	margin-bottom: 10px;
}

/*****
	AT END
	******/

.display-none {
	display: none !important;
}

/*******
	BIG SCREENS
	********/

@media only screen and (min-width: 580px) {
	.theme-selector {
		width: initial;
		float: right;
	}

	h1 {
		font-size: 36px;
		text-align: left;
	}

	.filter-text {
		width: 275px;
	}

	.control-label {
		display: inline-block;
	}
	.view-controls {
		display: initial;
		margin-bottom: 0;
	}
}